/*---------global style-----------*/

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none
}

img {
    vertical-align: top;
    border: none
}

legend {
    display: none
}

fieldset {
    border: none
}

a {
    text-decoration: none
}

a:hover,
a:active {
    text-decoration: none
}

.clear {
    clear: both;
}